<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="BPRoc_LIB.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="BPRoc_LIB.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true">
      <add name="DomainServiceModule" preCondition="managedHandler" type="System.ServiceModel.DomainServices.Hosting.DomainServiceHttpModule, System.ServiceModel.DomainServices.Hosting, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
    </modules>
    <validation validateIntegratedModeConfiguration="false" />
  </system.webServer>
  <system.diagnostics>
    <sources>
      <!-- This section defines the logging configuration for My.Application.Log -->
      <source name="DefaultSource" switchName="DefaultSwitch">
        <listeners>
          <add name="FileLog" />
          <!-- Uncomment the below section to write to the Application Event Log -->
          <!--<add name="EventLog"/>-->
        </listeners>
      </source>
    </sources>
    <switches>
      <add name="DefaultSwitch" value="Information" />
    </switches>
    <sharedListeners>
      <add name="FileLog" type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" initializeData="FileLogWriter" />
      <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
      <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
    </sharedListeners>
  </system.diagnostics>
  <connectionStrings>
    <!--<add name="EntityDiagrams" connectionString="data source=SEMI-P\MSSQLSERVER2008;initial catalog=SMC-RNT;user id=sa;password=123456" providerName="System.Data.SqlClient" />
    <add name="Connection" connectionString="data source=SEMI-P\MSSQLSERVER2008;initial catalog=SMC-RNT;persist security info=True;user id=sa;password=123456" providerName="System.Data.SqlClient" 
    <add name="MandiriConnection" connectionString="data source=.;initial catalog=Mandiri;persist security info=True;user id=sa;password=keymaker" providerName="System.Data.SqlClient" />/>--><add name="MandiriConnection" connectionString="data source=.;initial catalog=Mandiri;persist security info=True;user id=sa;password=123456" providerName="System.Data.SqlClient" /></connectionStrings>
  <system.serviceModel>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <system.web>
    <httpModules>
      <add name="DomainServiceModule" type="System.ServiceModel.DomainServices.Hosting.DomainServiceHttpModule, System.ServiceModel.DomainServices.Hosting, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
    </httpModules>
  </system.web>
  <userSettings>
    <BPRoc_LIB.MySettings>
      <setting name="User" serializeAs="String">
        <value>sa</value>
      </setting>
      <setting name="Password" serializeAs="String">
        <value>123456</value>
      </setting>
      <setting name="Server" serializeAs="String">
        <value>user-pc</value>
      </setting>
    </BPRoc_LIB.MySettings>
    <BPRoc_LIB.My.MySettings>
      <setting name="User" serializeAs="String">
        <value>sa</value>
      </setting>
      <setting name="Password" serializeAs="String">
        <value>123456</value>
      </setting>
      <setting name="Server" serializeAs="String">
        <value>.</value>
      </setting>
    </BPRoc_LIB.My.MySettings>
  </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0,Profile=Client" /></startup></configuration>
